<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:pe="http://primefaces.org/ui/extensions"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<h:head>
		<title>
			Examen en linea - <ui:insert name="title"></ui:insert>
		</title>
		<h:outputStylesheet library="css" name="principal.css" />
		<f:event listener="#{authController.checkSession}" type="preRenderView" />
	</h:head>

	<h:body>
		
		<div id="header">
		    <ui:insert name="header">
		    	<h:form>
		    		<p:growl id="growl" showDetail="true" sticky="true" /> 
		    		<p:menubar model="#{menuController.model}" />
		    	</h:form>
		    </ui:insert>
		</div>
		<div id="content">
		  <ui:insert name="content">
		  </ui:insert>
		</div>
		
		<div id="footer">
		  <ui:insert name="footer">
		  </ui:insert>
		</div>
		
		<ui:insert name="scripts"></ui:insert>
	
	</h:body>

</html>