<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewParam name="examenId" value="#{realizarexamenController.examenId}" />
</f:metadata>

<ui:composition template="../../../principal.xhtml">
	<ui:define name="title">Hacer Examen</ui:define>
	<ui:define name="content">
		<h:form rendered="#{!realizarexamenController.ya_hizo_examen}" id="frmRealizar">
			<p:inputText value="#{realizarexamenController.tiempoUsado}"
						 styleClass="txt-tiempousado" style="display:none;" />
			<div class="ui grid">
				<div class="ui-grid-row" style="margin-bottom:1em;text-align:center;">
					<div class="ui-grid-col-12">
						<h1>#{realizarexamenController.examen.nombre}</h1>
					</div>
					<div class="ui-grid-col-12">
						<strong>Instrucciones: </strong> <br/>
						<p:outputLabel value="#{realizarexamenController.examen.instrucciones}" />
					</div>
				</div>
				<div class="ui-grid-row" style="margin:0px 7em;text-align:center;">
					<div class="ui-grid-col-4">
						<div class="ui-grid-col-12" style="margin: .7em 0em;text-align: left;">
							<h3 style="margin:0em;display:inline;">Tiempo: </h3>
							<pe:timer timeout="#{realizarexamenController.duracionExamen}" 
									  format="HH:mm:ss"
									  widgetVar="timerExamen"
									  delay="0"
									  ontimerstep="showTime(this);"
									  oncomplete="sendForm();"/>
						</div>
						<div class="ui-grid-col-12" style="margin: .7em 0em;text-align: left;">
							<h3 style="margin:0em;">Preguntas :</h3>
						</div>
						<ui:repeat var="prgExamen" value="#{realizarexamenController.examen.preguntaExamens}"
							varStatus="ii">
							<div class="ui-grid-col-2">
								<p:commandButton value="#{ii.index + 1}"
												 styleClass="botones-preguntas btn#{ii.index}"
											     onclick="toggle('#{ii.index}')" type="button"
											     disabled="#{ii.index == 0}"/>
							</div>
						</ui:repeat>
					</div>
					<div class="ui-grid-col-8">						
						<ui:repeat var="prgExamen" value="#{realizarexamenController.examen.preguntaExamens}"
							varStatus="ii">
							<p:panel id="basic" 
									 styleClass="preguntas-en-examen"
									 widgetVar="wdglpregunta#{ii.index}"
									 visible="#{ii.index == 0}"  closable="true" >
								<f:facet name="header">
									<div class="ui grid">
										<div class="ui-grid-col-8" style="text-align:left">
											<p:outputLabel value="#{ii.index + 1}.- #{prgExamen.pregunta.descripcion}" />
										</div>
										<div class="ui-grid-col-4" style="text-align:right;">
											<p:outputLabel value="#{prgExamen.pregunta.tipoPregunta.descripcion}" />
										</div>
									</div>
								</f:facet>
								<f:facet name="footer">																	
									<div class="ui grid" style="height:25px;">
										<div class="ui-grid-col-4" style="text-align:left">
											<p:outputLabel value="Puntos #{prgExamen.puntos}" />
										</div>
										<div class="ui-grid-col-8" style="text-align:right;">
											<p:commandButton value="Siguiente"
														     onclick="toggle('#{ii.index + 1}')" type="button"
														     rendered="#{(ii.index + 1) != fn:length(realizarexamenController.examen.preguntaExamens)}"/>
											<p:commandButton value="Enviar" action="#{realizarexamenController.registrar}"
														     rendered="#{(ii.index + 1) == fn:length(realizarexamenController.examen.preguntaExamens)}">
												<p:confirm header="Confirmación" message="Desea terminar el examen?" icon="ui-icon-alert" />
											</p:commandButton>
										</div>
									</div>
								</f:facet>
								<h:panelGroup style="display:block" 
											  rendered="#{prgExamen.pregunta.tipoPregunta.id == 1 || prgExamen.pregunta.tipoPregunta.id == 2}">									
								    <p:selectOneRadio id="customRadio" 
								    				  value="#{realizarexamenController.resultadoOpciones[ii.index].pseudoOpcion.id}"
								    				  layout="grid" 
								    				  columns="3">
								    	<f:selectItems value="#{prgExamen.pregunta.opcions}" var="opcion" 
								    				   itemLabel="#{opcion.descripcion}" 
								    				   itemValue="#{opcion.id}" />
							        </p:selectOneRadio>
								</h:panelGroup>
								<h:panelGroup style="display:block" rendered="#{prgExamen.pregunta.tipoPregunta.id == 3}">
									<p:selectManyCheckbox value="#{realizarexamenController.resultadoOpciones[ii.index].multiOpcion}" 
														  layout="grid" columns="3">
								        <f:selectItems value="#{prgExamen.pregunta.opcions}" var="opcion" itemLabel="#{opcion.descripcion}" itemValue="#{opcion.id}" />
								    </p:selectManyCheckbox>
								</h:panelGroup>
								<h:panelGroup style="display:block" rendered="#{prgExamen.pregunta.tipoPregunta.id == 4}">
									<p:inputTextarea rows="6" cols="33" value="#{realizarexamenController.resultadoOpciones[ii.index].pseudoOpcion.descripcion}"/>
								</h:panelGroup>
						    </p:panel>
						</ui:repeat>
					</div>
				</div>
			</div>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		    </p:confirmDialog>
		    <p:commandButton value="Enviar" action="#{realizarexamenController.registrar}" 
		    				 id="btnOnlyTime" style="display:none;"/>
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			function showTime(event) {
				var tiempoUsado = PF('timerExamen').originalTimeout - PF('timerExamen').currentTimeout;
				$('.txt-tiempousado').val(tiempoUsado);
			}
			function sendForm() {
				console.log("TERMINO !!!!!!!!!!!!!!!!!!!");
				$('#frmRealizar\\:btnOnlyTime').click();
			}
			function toggle(id) {
				$('.botones-preguntas')
					.attr('aria-disabled', false)
					.removeClass('ui-state-disabled')
					.prop('disabled', false);
				
				$('.preguntas-en-examen').hide();				

				$('.btn' + id)
					.attr('aria-disabled', false)
					.addClass('ui-state-disabled')
					.removeClass('ui-state-hover')
					.prop('disabled', true);
				
				PF('wdglpregunta' + id).show();
			}
			$('.ui-panel-titlebar-icon.ui-corner-all.ui-state-default').hide();
			$('.ui-panel-title').css({ 'margin': '0em'});
		</script>
	</ui:define>
</ui:composition>
</html>
