<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="principal.xhtml">
	<ui:define name="title">Perfil</ui:define>
	<ui:define name="content">
		<h:form style="max-width: 80%;margin: 0 auto;">
			<h1>Perfil</h1>
			<div class="ui grid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<p:outputLabel value="Nombres"  />
					</div>
					<div class="ui-grid-col-6">
						<p:inputText value="#{perfilController.usuario.nombre}" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<p:outputLabel value="Apellidos"  />
					</div>
					<div class="ui-grid-col-6">
						<p:inputText value="#{perfilController.usuario.apellido}" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<p:outputLabel value="Correo electronico"  />
					</div>
					<div class="ui-grid-col-6">
						<p:inputText value="#{perfilController.usuario.email}" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<p:outputLabel value="Usuario"  />
					</div>
					<div class="ui-grid-col-6">
						<p:inputText value="#{perfilController.usuario.usuario}" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<p:outputLabel value="Estado"  />
					</div>
					<div class="ui-grid-col-6">
						<p:inputText value="#{perfilController.usuario.estado eq '1' ? 'Activo' : 'No activo'}" />
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-6">
						<p:outputLabel value="Rol"  />
					</div>
					<div class="ui-grid-col-6">
						<p:inputText value="#{perfilController.usuario.rol eq 'A' ? 'Administrador' : 'Estudiante'}" />
					</div>
				</div>
				<h:panelGroup style="display:block;" styleClass="ui-grid-row"
							  rendered="#{perfilController.usuario.rol eq 'E'}">
					<div class="ui-grid-col-12">
						<h3>Progreso por cursos</h3>
						<ui:repeat var="curso" value="#{perfilController.cursos}">
							<div class="ui-grid-col-12">
								<h4>
									#{curso.curso.nombre}
									<p:outputLabel value="#{curso.estado}" style="float:right;"/>
								</h4>
								<p:progressBar value="#{curso.avance}" labelTemplate="{value}%" displayOnly="true"/>
							</div>
						</ui:repeat>
					</div>
				</h:panelGroup>
			</div>		
		</h:form>
	</ui:define>
</ui:composition>
</html>
