<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="../WEB-INF/template/template.xhtml">
	<ui:define name="content">
		<div class="ui grid" style="margin-top: 2em;">
			<h:panelGroup style="display:block;" 
						  styleClass="ui-grid-row"
						  rendered="#{principalController.usuario.rol eq 'E'}">
				<div class="ui-grid-col-10">
					<h2>Examenes pendientes</h2>
					<div class="ui-grid-col-12">
						<p:schedule id="schedule" 
									value="#{principalController.eventModel}" 
									widgetVar="myschedule"
									style="width:80%; margin:0 auto;"
									draggable="false"								
									timeZone="GMT+2" />
					</div>
				</div>
				<div class="ui-grid-col-2">
					<div class="ui-grid-col-12">
						<p:dataList value="#{principalController.cursos}" var="curso" >
					        <f:facet name="header">
					            Mis cursos:
					        </f:facet>
					        <p:link value="#{curso.nombre}" 
					        		outcome="estudiante/curso/show" >
				    			<f:param name="cursoId" value="#{curso.id}" />
				    		</p:link>				        
					    </p:dataList>					
					</div>
					<div class="ui-grid-col-12">
						<p:dataList value="#{menuController.examenesHoy}" var="examen" >
					        <f:facet name="header">
					           Examenes pendientes:
					        </f:facet>
					        <h:outputText value="#{examen.nombre}" />			        
					    </p:dataList>
					</div>
				</div>			
			</h:panelGroup>
			<h:panelGroup style="display:block;" 
						  styleClass="ui-grid-row"
						  rendered="#{principalController.usuario.rol eq 'A'}">
				<div class="ui-grid-col-10">
					<h2>Reporte Aprobado/Desaprobado por Curso</h2>
					<div class="ui-grid-col-12">
						<p:chart type="bar" model="#{principalController.barModel}" style="width:80%; margin:0 auto;"/>
					</div>
				</div>
				<div class="ui-grid-col-2">
					<p:dataList value="#{principalController.cursos}" var="curso" >
				        <f:facet name="header">
				            Cursos Activos:
				        </f:facet>
				        <h:outputText value="#{curso.nombre}"  />
				    </p:dataList>
				</div>			
			</h:panelGroup>
		</div>
	</ui:define>
</ui:composition>
</html>
