<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewParam name="resultadoId" value="#{usuarioresultadoController.resultadoId}" />
</f:metadata>

<ui:composition template="../../../principal.xhtml">
	<ui:define name="title">Resultado</ui:define>
	<ui:define name="content">
		<h:form>
			<div class="ui grid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<h2>Detalle resultado del examen: </h2>
					</div>
				</div>
				<div class="ui-grid-row">
					<div class="ui-grid-col-12" style="text-align: center;">						
						<p:panel header="#{usuarioresultadoController.resultado.examen.nombre}" 
								 style="text-align:center">
			           		<h:panelGrid columns="2" style="width:100%">
			           			<h:outputText value="Fecha realizado: " />
			           			
			           			<h:outputText value="#{usuarioresultadoController.resultado.fecha}" >
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
								</h:outputText>
								
			           			<h:outputText value="Tiempo utilizado: " />
			           			
			           			<h:outputText value="#{usuarioresultadoController.resultado.duracion}" >
									<f:convertDateTime pattern="HH:mm:ss" />
								</h:outputText>
								
			           			<h:outputText value="Nota: " />
			           			<h:outputText value="#{usuarioresultadoController.resultado.porcentajeResuelto * 100}" />
								
				                <h:outputText value="Ver resolución" />
				                
						        <p:link value="Ver resultado" 
						        		outcome="detalle" >
					    			<f:param name="resultadoId" value="#{usuarioresultadoController.resultado.id}" />
					    		</p:link>
				                
				            </h:panelGrid>
				        </p:panel>
					</div>
				</div>
			</div>
		
		</h:form>
	</ui:define>
</ui:composition>
</html>
