<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="../../principal.xhtml">
	<ui:define name="title">Usuarios</ui:define>
	<ui:define name="content">
		<h:form>
			<div class="ui grid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-9">
						<h1>Usuarios</h1>
					</div>
					<div class="ui-grid-col-3" style="padding-top:1.5em;">
						<p:link outcome="nuevo" value="Crear usuario" />
					</div>
				</div>				
			</div>
			<p:dataTable value="#{usuarioController.usuarios}" var="usuario" >
				<p:column headerText="Nombre Completo">
					<h:outputText value="#{usuario.nombre} #{usuario.apellido}" />
				</p:column>
				<p:column headerText="Correo electronico">
					<h:outputText value="#{usuario.email}" />
				</p:column>
				<p:column headerText="Fecha registro"> 
					<h:outputText value="#{usuario.fechaRegistro}" >
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>
				<p:column headerText="Rol"> 
					<h:outputText value="#{usuario.rol eq 'A' ? 'Administrativo' : 'Estudiante'}" />
				</p:column>
				<p:column headerText="Estado"> 
					<h:outputText value="#{usuario.estado eq '1' ? 'Activo' : 'Inactivo'}" />
				</p:column>
				<p:column headerText="">				
			    	<p:link outcome="editar" value="Editar">
			    		 <f:param name="usuarioId" value="#{usuario.id}" />
					</p:link>
				</p:column>
			</p:dataTable>
		
		</h:form>
	</ui:define>
</ui:composition>
</html>
