<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="../../principal.xhtml">
	<ui:define name="title">Cursos</ui:define>
	<ui:define name="content">
		<h:form>
			<div class="ui grid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<h2>Inscribase a un curso</h2>
					</div>
				</div>
			</div>
			<p:dataGrid var="curso" value="#{usuariocursoController.cursos}" columns="3" layout="grid" >
				<p:panel header="#{curso.nombre}" style="text-align:center">
            		<h:panelGrid columns="1" style="width:100%">		 
		                <h:outputText value="#{curso.descripcion}" />
		                <p:link value="Ver curso" outcome="show" >
				    		<f:param name="cursoId" value="#{curso.id}" />
						</p:link>
		            </h:panelGrid>
		        </p:panel>
				
		    </p:dataGrid>
		
		</h:form>
	</ui:define>
</ui:composition>
</html>
