<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewParam name="cursoId" value="#{usuariocursoController.cursoId}" />
</f:metadata>

<ui:composition template="../../principal.xhtml">
	<ui:define name="title">Cursos</ui:define>
	<ui:define name="content">
		<h:form style="text-align:center;">
			<div class="ui grid">
				<div class="ui-grid-row" style="margin-bottom:1em;">
					<div class="ui-grid-col-12">
						<h1>#{usuariocursoController.curso.nombre}</h1>
						<p:outputLabel value="#{usuariocursoController.curso.descripcion}" />	
					</div>
				</div>
				<div class="ui-grid-row" style="margin-bottom:1em;">
					<div class="ui-grid-col-12">
						<p:outputLabel value="Fecha creación: " />							
						<h:outputText value="#{usuariocursoController.curso.fecha}" >
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</div>
				</div>
				<h:panelGroup styleClass="ui-grid-row"  
							  style="display:block;margin-bottom:1em" 
							  rendered="#{usuariocursoController.usuario_yatiene_curso}">
					<p:outputLabel value="Termine los examenes." />
				</h:panelGroup>
				<h:panelGroup styleClass="ui-grid-row"  
							  style="display:block;margin-bottom:1em" 
							  rendered="#{!usuariocursoController.usuario_yatiene_curso}">
					<div class="ui-grid-col-12">
						<p:commandButton value="Agregar a mis cursos" 
										 action="#{usuariocursoController.agregarMisCursos}"/>
					</div>
				</h:panelGroup>
				<div class="ui-grid-row" style="padding-left:30%;">
					<div class="ui-grid-col-12" style="width:60%;">
						<p:dataList value="#{usuariocursoController.curso.examens}" var="examen" type="ordered"
									rowIndexVar="ii">
					        <f:facet name="header">
					            Examenes por aprobar: 
					        </f:facet>
					        #{examen.nombre}
					        
					        <p:link value="Comenzar" 
					        		rendered="#{usuariocursoController.usuario_yatiene_curso and empty usuariocursoController.resultados[ii] and (usuariocursoController.usuario.currentDate ge examen.fechaInicio and usuariocursoController.usuario.currentDate le examen.fechaFin)}" 
					        		outcome="examen/comenzar" >
				    			<f:param name="examenId" value="#{examen.id}" />
				    		</p:link>
					        <p:link value="Ver resultado" 
					        		rendered="#{usuariocursoController.usuario_yatiene_curso and not empty usuariocursoController.resultados[ii]}" 
					        		outcome="resultado/show" >
				    			<f:param name="resultadoId" value="#{usuariocursoController.resultados[ii].id}" />
				    		</p:link>
					    </p:dataList>
					</div>
				</div>
			</div>
			
		</h:form>
	</ui:define>
</ui:composition>
</html>
