<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewParam name="preguntaId" value="#{preguntaController.preguntaId}" />
</f:metadata>
<ui:composition template="../../principal.xhtml">
	<ui:define name="title">Preguntas</ui:define>
	<ui:define name="content">
		<h1>Banco de preguntas</h1>
		<h:form id="frmPregunta">
			<p:messages id="mensajePregunta" showDetail="true"/>
           	<div class="ui grid">
   				<div class="ui-grid-row" style="margin:.5em;">
   					<div class="ui-grid-col-4">	    						
	                    <p:outputLabel for="txtDescripcion" value="Cual es la pregunta?" />
   					</div>
   					<div class="ui-grid-col-8">	    						
	                    <p:inputText id="txtDescripcion" value="#{preguntaController.pregunta.descripcion}"
	                    			required="true" requiredMessage="Ingrese la pregunta"/>
   					</div>
   				</div>
   				<div class="ui-grid-row" style="margin:.5em;">
   					<div class="ui-grid-col-4">	    						
	                    <p:outputLabel for="cboCurso" value="Curso" />
   					</div>
   					<div class="ui-grid-col-8">	    						
   						<p:selectOneMenu id="cboCurso" required="true" 
	    					 value="#{preguntaController.pregunta.curso.id}"
	    					 requiredMessage="Ingrese el curso"
	    					 style="width:70%;">
				    		<f:selectItem itemLabel="[Seleccione]" itemValue="#{null}" noSelectionOption="true"/>
				    		<f:selectItems value="#{preguntaController.cursos}" var="curso" 
				    					   itemLabel="#{curso.nombre}" itemValue="#{curso.id}"/>
				    	</p:selectOneMenu>
   					</div>
   				</div>
   				<div class="ui-grid-row" style="margin:.5em;"> 				
                  		<div class="ui-grid-col-4">
	    				<p:outputLabel for="cboTipoPregunta" value="Tipo Pregunta" />
	    			</div>
   					<div class="ui-grid-col-8">
   						<p:selectOneMenu id="cboTipoPregunta" required="true" 
	    					 value="#{preguntaController.pregunta.tipoPregunta.id}"
	    					 requiredMessage="Ingrese tipo de pregunta"
	    					 style="width:70%;">
				    		<f:selectItem itemLabel="[Seleccione]" itemValue="#{null}" noSelectionOption="true"/>
				    		<f:selectItems value="#{preguntaController.tipoPreguntas}" var="tP" 
				    					   itemLabel="#{tP.descripcion}" itemValue="#{tP.id}"/>
				    		<p:ajax event="change" listener="#{preguntaController.selectionChanged}" update="outTrueFalse outComplete outAlternativas outSeleccionUnica outSeleccionMultiple" />
				    	</p:selectOneMenu>
   					</div>
   				</div>
   				<h:panelGroup id="outTrueFalse" style="display:block;">
    				<h:panelGroup styleClass="ui-grid-row" rendered="#{preguntaController.idTP == 1}" style="display:block;margin:.5em;">
    					<div class="ui-grid-col-4">	    						
			    			<p:outputLabel value="Cual es la respuesta correcta"/>
    					</div>
    					<div class="ui-grid-col-8">
					    	<p:selectOneMenu value="#{preguntaController.verdaderoFalso}">
					    		<f:selectItem itemLabel="Verdadero" itemValue="verdadero" />
					    		<f:selectItem itemLabel="Falso" itemValue="falso"/>
					    	</p:selectOneMenu>	    					
    					</div>    				
    				</h:panelGroup>	    				
   				</h:panelGroup>
   				<h:panelGroup id="outComplete" style="display:block;">
    				<h:panelGroup styleClass="ui-grid-row" rendered="#{preguntaController.idTP == 4}" style="display:block;margin:.5em;">
    					<div class="ui-grid-col-4">	    						
			    			<p:outputLabel value="Cual es la respuesta correcta?"/>
    					</div>
    					<div class="ui-grid-col-8">
    						<p:inputText value="#{preguntaController.rptCompleta}"/>
    					</div>	    				
    				</h:panelGroup>	    				
   				</h:panelGroup>
   				<h:panelGroup id="outAlternativas" style="display:block;">
    				<h:panelGroup styleClass="ui-grid-row" rendered="#{preguntaController.idTP == 2 || preguntaController.idTP == 3}" style="display:block;margin:.5em;">					
    					<div class="ui-grid-col-4">
    						<p:outputLabel value="Alternativa"/>
    					</div>		
    					<div class="ui-grid-col-5">
    						<p:inputText value="#{preguntaController.rptCompleta}" style="width:80%;" />	    					
    					</div>
    					<div class="ui-grid-col-2">
   							<p:commandButton value="+" actionListener="#{preguntaController.agregarAlternativa}" 
   											 update="gridAlternativas outSeleccionUnica slcSeleccionUnica outAlternativas outSeleccionMultiple slcSeleccionMultiple" />
    					</div>
    				</h:panelGroup>
   				</h:panelGroup>
   				<h:panelGroup id="gridAlternativas" style="display:block;">
    				<h:panelGroup rendered="#{preguntaController.idTP == 2 || preguntaController.idTP == 3}" style="display:block;">
    					<ui:repeat var="altr" value="#{preguntaController.alternativas}" varStatus="ii">  
    						<div class="ui-grid-row" style="margin:.5em;">
	    						<div class="ui-grid-col-2">
	    							<p:outputLabel value="#{ii.index + 1}." />
	    						</div>	
		    					<div class="ui-grid-col-7">
		    						<p:inputText value="#{altr}" style="width:60%;" id="input-#{ii.index}"/>
		    					</div>	
		    					<div class="ui-grid-col-3" style="padding-top:.5em;">
		    						<p:commandLink  actionListener="#{preguntaController.eliminarAlternativa(ii.index)}"
		    										value="X" update="frmPregunta:gridAlternativas frmPregunta:outSeleccionUnica frmPregunta:outSeleccionMultiple"/>
		    					</div>		    						
    						</div>
    					</ui:repeat>
    				</h:panelGroup>	    				
   				</h:panelGroup>
   				<h:panelGroup id="outSeleccionUnica" style="display:block;">
    				<h:panelGroup styleClass="ui-grid-row" rendered="#{preguntaController.idTP == 2}" style="margin:.5em;display:block;">
    					<div class="ui-grid-col-4">	    						
			    			<p:outputLabel value="Cual es la respuesta correcta?" />
    					</div>
    					<div class="ui-grid-col-8">
					    	<p:selectOneMenu id="slcSeleccionUnica" value="#{preguntaController.alternativa}">
					    		<f:selectItems value="#{preguntaController.alternativas}" />
					    	</p:selectOneMenu>	     					
    					</div>	    				
    				</h:panelGroup>	    				
   				</h:panelGroup>
   				<h:panelGroup id="outSeleccionMultiple" style="display:block;">
    				<h:panelGroup styleClass="ui-grid-row" rendered="#{preguntaController.idTP == 3}" style="margin:.5em;display:block;">
    					<div class="ui-grid-col-4">	    						
			    			<p:outputLabel value="Cual es la respuesta correcta?" />
    					</div>
    					<div class="ui-grid-col-8">  
					    	<p:selectManyMenu id="slcSeleccionMultiple" value="#{preguntaController.alternativasSeleccionadas}">
					    		<f:selectItems value="#{preguntaController.alternativas}" />
					    	</p:selectManyMenu>	  					
    					</div>	    				
    				</h:panelGroup>
   				</h:panelGroup>
   				
   				<div class="ui-grid-row">
   					<div class="ui-grid-col-4">	    						
				    	<p:commandButton icon="ui-icon-check" value="Agregar"
				    					 update=":frmPregunta mensajePregunta" action="#{preguntaController.actualizar}"/>
   					</div>
   					<div class="ui-grid-col-8">
		    			<p:link outcome="index" value="Regresar" id="regresarPregunta"/>
   					</div>
   				
   				</div>
           	</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>