<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="../../principal.xhtml">
	<ui:define name="title">Preguntas</ui:define>
	<ui:define name="content">
		<h:form id="frmListaPreguntas">
			<div class="ui grid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<h1>Preguntas</h1>
					</div>
				</div>	
				<div class="ui-grid-row" style="margin-bottom: .5em;">
					<div class="ui-grid-col-3">
						<p:link outcome="nuevo?faces-redirect=true" value="Crear pregunta" id="crearPregunta" />
					</div>			
					<div class="ui-grid-col-2" style="text-align: right;padding-top: .3em;">
						<p:outputLabel value="Curso : " style="margin-right: .5em;"/>
					</div>
					<div class="ui-grid-col-3">
						<p:selectOneMenu  value="#{preguntaController.idCurso}" >
				    		<f:selectItem itemLabel="[Seleccione]" itemValue="0"/>
				    		<f:selectItems value="#{preguntaController.cursos}" var="curso" 
				    					   itemLabel="#{curso.nombre}" itemValue="#{curso.id}"/>
				    	</p:selectOneMenu>
					</div>
					<div class="ui-grid-col-2">
						<p:commandButton value="Buscar" 
										 actionListener="#{preguntaController.buscarxcurso}"
										 update="dtblPreguntas"/>
					</div>
				</div>				
			</div>
			<p:dataTable value="#{preguntaController.preguntas}" var="pregunta" id="dtblPreguntas"
						 binding="#{preguntaController.dttPreguntas}" rowIndexVar="ii">
				<p:column headerText="Descripcion">
					<h:outputText value="#{pregunta.descripcion}" />
				</p:column>
				<p:column headerText="Tipo Pregunta">
					<h:outputText value="#{pregunta.tipoPregunta.descripcion}" />
				</p:column>
				<p:column headerText="Curso"> 
					<h:outputText value="#{pregunta.curso.nombre}" />
				</p:column>
				<p:column headerText="">				
			    	<p:link outcome="editar" value="Editar">
			    		 <f:param name="preguntaId" value="#{pregunta.id}" />
					</p:link>
				</p:column>
			</p:dataTable>
		
		</h:form>
	</ui:define>
</ui:composition>
</html>
