<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewParam name="examenId" value="#{examenController.examenId}" />
</f:metadata>


<ui:composition template="../../../principal.xhtml">
	<ui:define name="title">Examenes</ui:define>
	<ui:define name="content">
		<h:form>
			<p:messages id="mensaje" severity="info, fatal" showDetail="true"/>
			<h:inputHidden value="#{examenController.examen.id}" />
			<h:inputHidden value="#{examenController.curso.id}" />
			<h3>¿Desea eliminar el examen #{examenController.examen.nombre}?</h3>
	    	<p:commandButton icon="ui-icon-check" value="Eliminar" action="#{examenController.eliminar}"/>
	    	<p:link outcome="/pages/admin/curso/editar" value="Regresar" >
	    		 <f:param name="cursoId" value="#{examenController.curso.id}" />
			</p:link>
		</h:form>
	</ui:define>
</ui:composition>
</html>