<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewParam name="cursoId" value="#{examenController.cursoId}" />
</f:metadata>

<ui:composition template="../../../principal.xhtml">
	<ui:define name="title">Examenes</ui:define>
	<ui:define name="content">
			<p:messages id="mensaje" showDetail="true"/>
			<h:inputHidden value="#{examenController.cursoId}" />
			<h1>Nuevo Examen (Curso: #{examenController.curso.nombre})</h1>
			<h:form id="frmExamen">
				<h:panelGrid columns="2" cellpadding="5" id="pgDatos" style="float:left;">
					<p:outputLabel for="txtNombre" value="Nombre " />
					<p:inputText id="txtNombre" value="#{examenController.examen.nombre}" required="true"
								 requiredMessage="Ingrese nombre" />
					
					<p:outputLabel for="txtFechaInicio" value="Fecha inicio" />
					<p:calendar id="txtFechaInicio" value="#{examenController.examen.fechaInicio}" required="true"
								requiredMessage="Ingrese fecha inicio" pattern="dd/MM/yyyy HH:mm"
								mindate="#{examenController.today}">
						<p:ajax event="dateSelect" listener="#{examenController.onDateSelect}" update="txtFechaFin" />
        			</p:calendar>
					
					<p:outputLabel for="txtFechaFin" value="Fecha Fin" />
					<p:calendar id="txtFechaFin"  value="#{examenController.examen.fechaFin}" required="true"
								requiredMessage="Ingrese fecha fin" pattern="dd/MM/yyyy HH:mm"
								mindate="#{examenController.fechaInicio}"/>
					
					<p:outputLabel for="txtDuracion" value="Duracion" />
					<p:calendar id="txtDuracion" value="#{examenController.examen.duracion}" pattern="HH:mm:ss" timeOnly="true" 
								required="true" requiredMessage="Ingrese duración del examen" />
					
					<p:outputLabel for="txtInstrucciones" value="Instrucciones" />
					<p:inputTextarea id="txtInstrucciones" value="#{examenController.examen.instrucciones}" required="true"
									 requiredMessage="Ingrese instrucciones para el examen."/>
					
					<p:outputLabel for="txtPorcAprob" value="Porcentaje Aprob." />
					<p:inputMask id="txtPorcAprob" value="#{examenController.examen.porcentajeAprobatorio}" 
								 required="true" requiredMessage="Porcentaje de aprobacion" mask="9.9"/>
					
			    	<p:commandButton icon="ui-icon-check" value="Registrar"
			    					 update="pgDatos mensaje" action="#{examenController.registrar}"/>
			    	<p:link outcome="/pages/admin/curso/editar" value="Regresar" >
			    		 <f:param name="cursoId" value="#{examenController.curso.id}" />
					</p:link>
				</h:panelGrid>
			</h:form>
			<h:panelGroup style="float: right;width: 65%;" id="pgPreguntas">
			    <p:outputLabel value="Preguntas : " style="float:left; font-weight: bold;"/>
			    <p:commandButton icon="ui-icon-plusthick" 
			    				 actionListener="#{examenController.abrirBancoPregunta}"
			    				 update=" :frmBancoPregunta"
			    				 style="float:right;"
			    				 value="Banco de Preguntas"/>
			    <p:commandButton icon="ui-icon-plusthick" 
			    				 actionListener="#{examenController.nuevaPregunta}"
			    				 update=" :frmPregunta"
			    				 style="float:right;"
			    				 value="Nuevo"/>
			    				 
	    		<h:panelGroup  rendered="#{empty examenController.preguntas}">		
	    			<div class="ui-grid">	  
		    			<div class="ui-grid-col-12">
			    			<p:outputLabel value="No tiene preguntas registrado." style="font-weight: bold;" />
		    			</div>    	
			    	</div>
	    		</h:panelGroup>
	    		<ui:repeat var="preguntaEx" value="#{examenController.preguntas}" varStatus="ii">
	    			<div class="ui-grid">
	    				<div class="ui-grid-row" style="margin-top:1.5em;">
		    				<div class="ui-grid-col-1" style="text-align: center;">
		    					<p:outputLabel value="#{ii.index + 1}." style="font-weight: bold;"/>
		    				</div>
		    				<div class="ui-grid-col-4">
		    					<p:outputLabel value="Pregunta:  #{preguntaEx.pregunta.descripcion}" style="font-weight: bold;"/>
		    				</div>
		    				<div class="ui-grid-col-3">
		    					<p:outputLabel value="Tipo Pregunta : " style="font-weight: bold;"/>
		    					<p:outputLabel value="#{preguntaEx.pregunta.tipoPregunta.descripcion}" />
		    				</div>
		    				<div class="ui-grid-col-2">
		    					<p:outputLabel value="Puntos : " style="font-weight: bold;"/>
		    					<p:outputLabel value="#{preguntaEx.puntos}" />		    				
		    				</div>
		    				<div class="ui-grid-col-2">
		    					<p:commandButton icon="fa fa-fw fa-edit" 
							    				 actionListener="#{examenController.verPregunta(preguntaEx, ii.index)}"
							    				 update=" :frmEliminarPregunta" value="Eliminar"/>
		    				</div>	    				
	    				</div>
	    				<div class="ui-grid-row" style="margin-top:.5em;">
		    				<div class="ui-grid-col-2"></div>
		    				<div class="ui-grid-col-10">
			    				<p:dataList value="#{preguntaEx.pregunta.opcions}" var="opcion">
							    	<f:facet name="header">
							    		Opciones: 
							        	
							    	</f:facet>
						        	#{opcion.descripcion} #{opcion.esCorrecto ? '- Alternativa correcta' : ''}
						        </p:dataList>		    				
		    				</div>    				
	    				</div>
	    			</div>
	    		</ui:repeat>
			    
			</h:panelGroup>
		
		<p:dialog id="dglPregunta" widgetVar="wdglPregunta" header="Nueva pregunta" 
				  modal="true" resizable="false" closeOnEscape="true" draggable="false"
				   width="50%" >
            <h:form id="frmPregunta">
				<p:messages id="mensajePregunta" showDetail="true"/>
                <h:inputHidden value="#{examenController.preguntaEx.id}" />
            	<h:inputHidden value="#{examenController.currentIndex}" />
            	<div class="ui grid">
    				<div class="ui-grid-row" style="margin:.5em;">
    					<div class="ui-grid-col-4">	    						
		                    <p:outputLabel for="txtDescripcion" value="Cual es la pregunta?" />
    					</div>
    					<div class="ui-grid-col-8">	    						
		                    <p:inputText id="txtDescripcion" value="#{examenController.preguntaEx.pregunta.descripcion}"
		                    			required="true" requiredMessage="Ingrese la pregunta"/>
    					</div>
    				</div>
    				<div class="ui-grid-row" style="margin:.5em;">
    					<div class="ui-grid-col-4">
                   			<p:outputLabel for="txtPuntos" value="Puntos" />
                   		</div>
    					<div class="ui-grid-col-8">	    						
		                    <p:inputText id="txtPuntos" value="#{examenController.preguntaEx.puntos}"
		                    			required="true" requiredMessage="Ingrese los puntos"/>
    					</div>
    				</div>
    				<div class="ui-grid-row" style="margin:.5em;"> 				
                   		<div class="ui-grid-col-4">
		    				<p:outputLabel for="cboTipoPregunta" value="Tipo Pregunta" />
		    			</div>
    					<div class="ui-grid-col-8">
    						<p:selectOneMenu id="cboTipoPregunta" required="true" 
		    					 value="#{examenController.preguntaEx.pregunta.tipoPregunta.id}"
		    					 requiredMessage="Ingrese tipo de pregunta"
		    					 style="width:70%;">
					    		<f:selectItem itemLabel="[Seleccione]" itemValue="#{null}" noSelectionOption="true"/>
					    		<f:selectItems value="#{examenController.tipoPreguntas}" var="tP" 
					    					   itemLabel="#{tP.descripcion}" itemValue="#{tP.id}"/>
					    		<p:ajax event="change" listener="#{examenController.selectionChanged}" update="outTrueFalse outComplete outAlternativas outSeleccionUnica outSeleccionMultiple" />
					    	</p:selectOneMenu>
    					</div>
    				</div>
    				<h:panelGroup id="outTrueFalse" style="display:block;">
	    				<h:panelGroup styleClass="ui-grid-row" rendered="#{examenController.idTP == 1}" style="display:block;margin:.5em;">
	    					<div class="ui-grid-col-4">	    						
				    			<p:outputLabel value="Cual es la respuesta correcta"/>
	    					</div>
	    					<div class="ui-grid-col-8">
						    	<p:selectOneMenu value="#{examenController.verdaderoFalso}">
						    		<f:selectItem itemLabel="Verdadero" itemValue="verdadero" />
						    		<f:selectItem itemLabel="Falso" itemValue="falso"/>
						    	</p:selectOneMenu>	    					
	    					</div>    				
	    				</h:panelGroup>	    				
    				</h:panelGroup>
    				<h:panelGroup id="outComplete" style="display:block;">
	    				<h:panelGroup styleClass="ui-grid-row" rendered="#{examenController.idTP == 4}" style="display:block;margin:.5em;">
	    					<div class="ui-grid-col-4">	    						
				    			<p:outputLabel value="Cual es la respuesta correcta?"/>
	    					</div>
	    					<div class="ui-grid-col-8">
	    						<p:inputText value="#{examenController.rptCompleta}"/>
	    					</div>	    				
	    				</h:panelGroup>	    				
    				</h:panelGroup>
    				<h:panelGroup id="outAlternativas" style="display:block;">
	    				<h:panelGroup styleClass="ui-grid-row" rendered="#{examenController.idTP == 2 || examenController.idTP == 3}" style="display:block;margin:.5em;">					
	    					<div class="ui-grid-col-4">
	    						<p:outputLabel value="Alternativa"/>
	    					</div>		
	    					<div class="ui-grid-col-5">
	    						<p:inputText value="#{examenController.rptCompleta}" style="width:80%;" />	    					
	    					</div>
	    					<div class="ui-grid-col-2">
    							<p:commandButton value="+" actionListener="#{examenController.agregarAlternativa}" 
    											 update="gridAlternativas outSeleccionUnica slcSeleccionUnica outAlternativas outSeleccionMultiple slcSeleccionMultiple" />
	    					</div>
	    				</h:panelGroup>	    				
    				</h:panelGroup>
    				<h:panelGroup id="gridAlternativas" style="display:block;">
	    				<h:panelGroup rendered="#{examenController.idTP == 2 || examenController.idTP == 3}" style="display:block;">
	    					<ui:repeat var="altr" value="#{examenController.alternativas}" varStatus="ii">  
	    						<div class="ui-grid-row" style="margin:.5em;">
		    						<div class="ui-grid-col-2">
		    							<p:outputLabel value="#{ii.index + 1}." />
		    						</div>	
			    					<div class="ui-grid-col-7">
			    						<p:inputText value="#{altr}" style="width:60%;" id="input-#{ii.index}"/>
			    					</div>	
			    					<div class="ui-grid-col-3" style="padding-top:.5em;">
			    						<p:commandLink  actionListener="#{examenController.eliminarAlternativa(ii.index)}"
			    										value="X" update="frmPregunta:gridAlternativas frmPregunta:outSeleccionUnica frmPregunta:outSeleccionMultiple"/>
			    					</div>		    						
	    						</div>
	    					</ui:repeat>
	    				</h:panelGroup>	    				
    				</h:panelGroup>
    				<h:panelGroup id="outSeleccionUnica" style="display:block;">
	    				<h:panelGroup styleClass="ui-grid-row" rendered="#{examenController.idTP == 2}" style="margin:.5em;display:block;">
	    					<div class="ui-grid-col-4">	    						
				    			<p:outputLabel value="Cual es la respuesta correcta?" />
	    					</div>
	    					<div class="ui-grid-col-8">
						    	<p:selectOneMenu id="slcSeleccionUnica" value="#{examenController.alternativa}">
						    		<f:selectItems value="#{examenController.alternativas}" />
						    	</p:selectOneMenu>	     					
	    					</div>	    				
	    				</h:panelGroup>	    				
    				</h:panelGroup>
    				<h:panelGroup id="outSeleccionMultiple" style="display:block;">
	    				<h:panelGroup styleClass="ui-grid-row" rendered="#{examenController.idTP == 3}" style="margin:.5em;display:block;">
	    					<div class="ui-grid-col-4">	    						
				    			<p:outputLabel value="Cual es la respuesta correcta?" />
	    					</div>
	    					<div class="ui-grid-col-8">  
						    	<p:selectManyMenu id="slcSeleccionMultiple" value="#{examenController.alternativasSeleccionadas}">
						    		<f:selectItems value="#{examenController.alternativas}" />
						    	</p:selectManyMenu>	  					
	    					</div>	    				
	    				</h:panelGroup>
    				</h:panelGroup>
    				
    				<div class="ui-grid-row">
    					<div class="ui-grid-col-4">	    						
					    	<p:commandButton icon="ui-icon-check" value="Agregar"
					    					 update="pgPreguntas :frmPregunta mensajePregunta" actionListener="#{examenController.agregarPregunta}"
					    					 rendered="#{examenController.accionPreg eq 'R'}"/>
    					</div>
    					<div class="ui-grid-col-8">
    						<p:commandButton value="Cancelar" icon="ui-icon-close" immediate="true" onclick="PF('wdglPregunta').hide();" />
    					</div>
    				
    				</div>
            	</div>
            </h:form>
        </p:dialog>
        
		<p:dialog id="dglEliminarPregunta" widgetVar="wdglEliminaPregunta" header="Eliminar pregunta" 
				  modal="true" resizable="false" closeOnEscape="true" draggable="false" >
            <h:form id="frmEliminarPregunta">
            	
                <h:inputHidden value="#{examenController.preguntaEx.id}" />
            	<h:inputHidden value="#{examenController.currentIndex}" />
                <h:panelGrid columns="2">
                	<h:outputLabel value="¿Desea eliminar la pregunta #{examenController.preguntaEx.pregunta.descripcion}?"/>
                	<h:column />
                	
			    	<p:commandButton icon="ui-icon-check" value="Eliminar"
			    					 update="pgPreguntas :frmEliminarPregunta" 
			    					 actionListener="#{examenController.eliminarPregunta}" />
			    	<p:commandButton value="Cancelar" icon="ui-icon-close" immediate="true" 
			    					 onclick="PF('wdglEliminaPregunta').hide();" />
                </h:panelGrid>
            </h:form>
       </p:dialog>
       
		<p:dialog id="dglBancoPregunta" widgetVar="wdglBancoPregunta" header="Banco de preguntas" 
				  modal="true" resizable="false" closeOnEscape="true" draggable="false"
				  width="70%" >
            <h:form id="frmBancoPregunta">
            	<div class="ui grid">
            		<div class="ui-grid-row" style="margin-bottom:1em;">
            			<div class="ui-grid-col-2">
            				<p:outputLabel value="Pregunta" />
            			</div>
            			<div class="ui-grid-col-4">
            				<p:inputText value="#{examenController.txtBancoPregunta}" >
            					<p:ajax event="keyup" listener="#{examenController.bancoPreguntaKeyUp}" update="dtblBancoPreguntas" />
            				</p:inputText>
            			</div>
            			<div class="ui-grid-col-2">
            				<p:outputLabel value="Puntos para la pregunta: "/>
            			</div>
            			<div class="ui-grid-col-4">
            				<p:inputText value="#{examenController.txtPuntos}" />
            			</div>
            		</div>
            		<div class="ui-grid-row">
            			<div class="ui-grid-col-12">
	            			<p:dataTable value="#{examenController.bancoPreguntas}" var="bancoPrg" rows="7"
                         				 paginator="true" id="dtblBancoPreguntas">
								<p:column headerText="Descripcion">
									<h:outputText value="#{bancoPrg.descripcion}" />
								</p:column>
								<p:column headerText="Tipo Pregunta">
									<h:outputText value="#{bancoPrg.tipoPregunta.descripcion}" />
								</p:column>
								<p:column headerText="Curso"> 
									<h:outputText value="#{bancoPrg.curso.nombre}" />
								</p:column>
								<p:column headerText="Accion">
									<p:commandLink value="Seleccionar" 
												   actionListener="#{examenController.obtenerBancoPregunta(bancoPrg.id)}" 
												   update="pgPreguntas"/>
								</p:column>
							</p:dataTable>
            			</div>
            		</div>
            	</div>
            </h:form>
       </p:dialog>
		
	</ui:define>
	<ui:define name="scripts">
	</ui:define>
</ui:composition>
</html>
