<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewParam name="cursoId" value="#{cursoController.cursoId}" />
</f:metadata>

<ui:composition template="../../principal.xhtml">
	<ui:define name="title">Cursos</ui:define>
	<ui:define name="content">
		<h:form>
			<div class="ui grid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<h1>Editar curso</h1>
					</div>
				</div>
			</div>
			<p:messages id="mensaje" severity="info, fatal" showDetail="true"/>
			<h:inputHidden value="#{cursoController.curso.id}" />
			<h:panelGrid columns="3" id="pgDatos" cellpadding="5"  style="float:left;">
				<p:outputLabel for="txtNombre" value="Nombre" />
				<p:inputText id="txtNombre" required="true" requiredMessage="Ingrese nombre" 
							 value="#{cursoController.curso.nombre}"/>
		    	<p:message for="txtNombre" />
				
				<p:outputLabel for="txtDescripcion" value="Descripcion" />
				<p:inputTextarea id="txtDescripcion"  required="true" requiredMessage="Ingrese descripcion" 
							 value="#{cursoController.curso.descripcion}"/>
				<p:message for="txtDescripcion" />
				
				<p:outputLabel for="txtFechaInicio" value="Fecha Inicio" />
				<p:calendar id="txtFechaInicio"  required="true" requiredMessage="Ingrese fecha inicio"
							 value="#{cursoController.curso.fecha}" pattern="dd/MM/yyyy" />
				<p:message for="txtFechaInicio" />

		    	<p:commandButton icon="ui-icon-check" value="Actualizar"
		    					 update="pgDatos mensaje" action="#{cursoController.actualizar}"/>
		    	<p:link outcome="index" value="Regresar" />		
			</h:panelGrid>
		
		</h:form>
		<h:form>
	    	<h:panelGroup style="float: right;width: 65%;" id="pgExamenes">
			    <p:outputLabel value="Examenes : "/>
			    <p:link outcome="examen/nuevo" value="Agregar" style="float:right;">
		    		 <f:param name="cursoId" value="#{cursoController.curso.id}" />
				</p:link>	
	    		<h:panelGroup  rendered="#{empty cursoController.curso.examens}">			    		    	
			    	<p:outputLabel value="No tiene examenes registrado." style="font-weight: bold;margin-top:2em" />
	    		</h:panelGroup>
			    <p:accordionPanel value="#{cursoController.curso.examens}" var="examen" style="margin-top:20px;">
			        <p:tab title="#{examen.nombre}">
			            <h:panelGrid columns="3" style="width:100%;">                 
			                <h:outputText value="Fecha Inicio:" style="font-weight: bold" />	                 
							<h:outputText value="#{examen.fechaInicio}" >
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
							<h:column>
				 				<p:link outcome="examen/editar" value="Editar">
						    		 <f:param name="examenId" value="#{examen.id}" />
								</p:link>
				 				<p:link outcome="examen/eliminar" value="Eliminar">
						    		 <f:param name="examenId" value="#{examen.id}" />
								</p:link>			
							</h:column>
							
			                <h:outputText value="Fecha Fin:" style="font-weight: bold" />	                 
							<h:outputText value="#{examen.fechaFin}" >
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
							<h:column />
			 
			                <h:outputText value="Porcentaje aprob." style="font-weight: bold" />
			                <h:outputText value="#{examen.porcentajeAprobatorio}" />
			            </h:panelGrid>
			        </p:tab>
			    </p:accordionPanel>
	    	</h:panelGroup>    	
	    </h:form>
	</ui:define>
</ui:composition>
</html>
