<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="../../principal.xhtml">
	<ui:define name="title">Cursos</ui:define>
	<ui:define name="content">
		<h:form id="frmCursos">
			<div class="ui grid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-9">
						<h1>Cursos</h1>
					</div>
					<div class="ui-grid-col-3" style="padding-top:1.5em;text-align:right;">
						<p:link outcome="nuevo" value="Crear curso" />
					</div>
				</div>				
			</div>
			<p:dataTable value="#{cursoController.cursos}" var="curso" id="dtblCursos">
				<p:column headerText="Nombre">
					<h:outputText value="#{curso.nombre}" />
				</p:column>
				<p:column headerText="Descripcion">
					<h:outputText value="#{curso.descripcion}" />
				</p:column>
				<p:column headerText="Fecha"> 
					<h:outputText value="#{curso.fecha}" >
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>
				<p:column headerText="Estado">
					<h:outputText value="#{curso.estado eq '1' ? 'Activo'  : 'No activo'}" />
				</p:column>
				<p:column headerText="Activar/Desac.">					
					<p:commandButton value="Desact."
									 rendered="#{curso.estado eq '1'}"
									 actionListener="#{cursoController.dialogCurso(curso.id, curso.estado)}"
									 update="frmDesactivarCurso"/>
					<p:commandButton value="Activar"
									 rendered="#{curso.estado eq '0'}"
									 actionListener="#{cursoController.dialogCurso(curso.id, curso.estado)}"
									 update="frmActivarCurso"/>
			    	<p:link outcome="editar" value="Editar" rendered="#{curso.estado eq '0'}"
			    			style="margin-left:1em;">
			    		 <f:param name="cursoId" value="#{curso.id}" />
					</p:link>
				</p:column>
			</p:dataTable>
		
		</h:form>
	
		<p:dialog id="dlgDesactivarCurso" widgetVar="wdlgDesactivarCurso" header="Desactivar curso." 
				  modal="true" resizable="false" closeOnEscape="true" draggable="false">
            <h:form id="frmDesactivarCurso">
            	
                <h:inputHidden value="#{cursoController.curso.id}" />
                <div class="ui grid">
                	<div class="ui-grid-row">
                		<div class="ui-grid-col-12">
                			<h:outputLabel value="¿Desea desactivar el curso #{cursoController.curso.nombre}?"/>
                		</div>
                		<div class="ui-grid-col-6">
					    	<p:commandButton icon="ui-icon-check" value="Desactivar"
					    					 update="frmCursos:dtblCursos"
					    					 actionListener="#{cursoController.desactivarCurso}" />                		
                		</div>
                		<div class="ui-grid-col-6">                			
					    	<p:commandButton value="Cancelar" icon="ui-icon-close" immediate="true" 
					    					 onclick="PF('wdlgDesactivarCurso').hide();" />
                		</div>
                	</div>
                </div>
            </h:form>
       </p:dialog>
	
		<p:dialog id="dlgActivarCurso" widgetVar="wdlgActivarCurso" header="Activar curso." 
				  modal="true" resizable="false" closeOnEscape="true" draggable="false">
            <h:form id="frmActivarCurso">
            	
                <h:inputHidden value="#{cursoController.curso.id}" />
                <div class="ui grid">
                	<div class="ui-grid-row">
                		<div class="ui-grid-col-12">
                			<h:outputLabel value="¿Desea desactivar el curso #{cursoController.curso.nombre}?"/>
                		</div>
                		<div class="ui-grid-col-6">
					    	<p:commandButton icon="ui-icon-check" value="Activar"
					    					 update="frmCursos:dtblCursos"
					    					 actionListener="#{cursoController.activarCurso}" />                		
                		</div>
                		<div class="ui-grid-col-6">                			
					    	<p:commandButton value="Cancelar" icon="ui-icon-close" immediate="true" 
					    					 onclick="PF('wdlgActivarCurso').hide();" />
                		</div>
                	</div>
                </div>
            </h:form>
       </p:dialog>
	</ui:define>
</ui:composition>
</html>
