<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="../../principal.xhtml">
	<ui:define name="title">Cursos</ui:define>
	<ui:define name="content">
		<h:form>
			<div class="ui grid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-12">
						<h1>Nuevo curso</h1>
					</div>
				</div>
			</div>
			<p:messages id="mensaje" severity="info, fatal" showDetail="true"/>
			<h:panelGrid columns="3" id="pgDatos">
				<p:outputLabel for="txtNombre" value="Nombre" />
				<p:inputText id="txtNombre" required="true" requiredMessage="Ingrese nombre" 
							 value="#{cursoController.curso.nombre}"/>
		    	<p:message for="txtNombre" />
				
				<p:outputLabel for="txtDescripcion" value="Descripcion" />
				<p:inputTextarea id="txtDescripcion"  required="true" requiredMessage="Ingrese descripcion" 
							 value="#{cursoController.curso.descripcion}"/>
				<p:message for="txtDescripcion" />
				
				<p:outputLabel for="txtFechaInicio" value="Fecha Inicio" />
				<p:calendar id="txtFechaInicio"  required="true" requiredMessage="Ingrese fecha inicio"
							 value="#{cursoController.curso.fecha}" pattern="dd/MM/yyyy" />
				<p:message for="txtFechaInicio" />
		    	
		    	<p:commandButton icon="ui-icon-check" value="Registrar" action="#{cursoController.registrar}"/>	
		    	<p:link outcome="index" value="Regresar" />				
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
</html>
