<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
	<h:head>
		<title>Examen en Linea</title>
		<h:outputStylesheet library="css" name="index.css" />
	</h:head>
	<h:body id="principal">
		<div id="contenedor">
			<h:form>
				<p:growl id="growl" showDetail="true" sticky="true" /> 
				<p:messages autoUpdate="true" showDetail="true" />
				<h:panelGrid columns="2">
					<p:outputLabel for="txtUsuario"  value="Usuario" />
					<p:inputText id="txtUsuario" required="true" requiredMessage="Ingrese usuario"
							 	 value="#{authController.username}"/>
					
					<p:outputLabel for="txtClave"  value="Contraseña" />
					<p:password id="txtClave" required="true" requiredMessage="Ingrese contraseña" 
								value="#{authController.password}"/>
					
					<h:column />
					<p:commandButton icon="ui-icon-key" value="Iniciar Sesión" action="#{authController.logIn}"/>
				</h:panelGrid>
			</h:form>
			<p:separator />
			<p:link value="Crear cuenta" outcome="registrarUsuario" />
		</div>
	</h:body>
</html>