<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<h:head>
	  <title><ui:insert name="title">Default title</ui:insert></title>
	<h:outputStylesheet library="css" name="principal.css" />
	</h:head>

	<h:body>
		<h:form style="width: 50%;margin: 0 auto;">
	    	<p:messages id="mensaje" autoUpdate="false" severity="info, fatal" showSummary="true" showDetail="true"/>
	    	<p:fieldset legend="Datos personales">
	    		<h:panelGrid columns="3" id="pgDatos">
			    	<p:outputLabel for="txtNombre" value="Nombres" />
			    	<p:inputText id="txtNombre"  value="#{usuarioController.usuario.nombre}" required="true" requiredMessage="Ingrese el nombre"/>
			    	<p:message for="txtNombre" />
			    	
			    	<p:outputLabel for="txtApellido" value="Apellidos" />
			    	<p:inputText id="txtApellido" value="#{usuarioController.usuario.apellido}" required="true" requiredMessage="Ingrese el apellido"/>
			    	<p:message for="txtApellido" />
			    	
			    	<p:outputLabel for="txtEmail" value="Correo electronico" />
			    	<p:inputText id="txtEmail" value="#{usuarioController.usuario.email}" required="true" requiredMessage="Ingrese el correo"/>
			    	<p:message for="txtEmail" />
	    		</h:panelGrid>	    	
	    	</p:fieldset>
	    	<p:fieldset legend="Datos de la cuenta">
	    		<h:panelGrid columns="3" id="pgCuenta">
		    		<p:outputLabel for="txtUsuario" value="Usuario" />
			    	<p:inputText id="txtUsuario"  value="#{usuarioController.usuario.usuario}" required="true" requiredMessage="Ingrese el nombre"/>
			    	<p:message for="txtUsuario" />
			    	
		    		<p:outputLabel for="txtPassword" value="Contraseña" />
			    	<p:password id="txtPassword"  value="#{usuarioController.usuario.password}"  
			    				validatorMessage="Las contraseñas no coinciden."
			    				weakLabel="Debil"
			    				match="repetirpassword" feedback="true" promptLabel="Ingrese una clave"
			    				required="true" requiredMessage="Ingrese contraseña" />
			    	<p:message for="txtPassword" />
			    	
		    		<p:outputLabel for="repetirpassword" value="Repetir Contraseña" />
			    	<p:password id="repetirpassword" 
			    				required="true" requiredMessage="Ingrese repetir contraseña"/>	
			    	<p:message for="repetirpassword" />    		
	    		</h:panelGrid>
		    	<p:commandButton icon="ui-icon-check" value="Registrarse" update="pgDatos pgCuenta mensaje" 
		    					 action="#{usuarioController.registrarEstudiante}"/>
	    	</p:fieldset>
	    </h:form>
	
	</h:body>

</html>