<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="../../principal.xhtml">
	<ui:define name="title">Preguntas</ui:define>
	<ui:define name="content">
		<h:form>
			<div class="ui grid">
				<div class="ui-grid-row">
					<div class="ui-grid-col-9">
						<h1>Resultados</h1>
					</div>
				</div>
				<div class="ui-grid-row" style="margin-bottom:.5em;">	
					<div class="ui-grid-col-2">
						<p:outputLabel value="Curso" />
					</div>
					<div class="ui-grid-col-3">
						<p:selectOneMenu  value="#{resultadoController.idCurso}" >
				    		<f:selectItem itemLabel="[Seleccione]" itemValue="0"/>
				    		<f:selectItems value="#{resultadoController.cursos}" var="curso" 
				    					   itemLabel="#{curso.nombre}" itemValue="#{curso.id}"/>
					    		<p:ajax event="change" listener="#{resultadoController.selectionChanged}" 
					    				update="cboExamenes" />
				    	</p:selectOneMenu>
					</div>
					<div class="ui-grid-col-2">
						<p:outputLabel value="Examen" />
					</div>
					<div class="ui-grid-col-3">
						<p:selectOneMenu  value="#{resultadoController.idExamen}" id="cboExamenes">
				    		<f:selectItem itemLabel="[Seleccione]" itemValue="0"/>
				    		<f:selectItems value="#{resultadoController.examenes}" var="examen" 
				    					   itemLabel="#{examen.nombre}" itemValue="#{examen.id}"/>
				    	</p:selectOneMenu>
					</div>
					<div class="ui-grid-col-2">
						<p:commandButton value="Buscar" 
										 actionListener="#{resultadoController.buscarxcursoyexamen}"
										 update="dtblResultados"/>
					</div>
				</div>		
			</div>
			<p:dataTable value="#{resultadoController.resultados}" var="resultado"
						 id="dtblResultados">
				<p:column headerText="Examen">
					<h:outputText value="#{resultado.examen.nombre}" />
				</p:column>
				<p:column headerText="Curso">
					<h:outputText value="#{resultado.examen.curso.nombre}" />
				</p:column>
				<p:column headerText="Estudiante">
					<h:outputText value="#{resultado.usuario.nombre} #{resultado.usuario.apellido}" />
				</p:column>
				<p:column headerText="Porcentaje">
					<h:outputText value="#{resultado.porcentajeResuelto*100}%" />
				</p:column>
				<p:column headerText="Duracion">
           			<h:outputText value="#{resultado.duracion}" >
						<f:convertDateTime pattern="HH:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column headerText="Estado">
					<h:outputText value="#{resultado.estado eq 'A' ? 'Aprobado' : 'Desaprobado'}" />
				</p:column>
				<p:column headerText="">				
			    	<p:link outcome="show" value="Ver">
			    		 <f:param name="resultadoId" value="#{resultado.id}" />
					</p:link>					
				</p:column>
			</p:dataTable>
		
		</h:form>
	</ui:define>
</ui:composition>
</html>