<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:viewParam name="resultadoId" value="#{resultadoController.resultadoId}" />
</f:metadata>

<ui:composition template="../../principal.xhtml">
	<ui:define name="title">Resultado</ui:define>
	<ui:define name="content">
		<h:form>
			<div class="ui grid">
				<div class="ui-grid-row" style="margin:0px 7em;text-align:center;">
					<div class="ui-grid-col-4">
						<div class="ui-grid-col-12">
							<div class="ui-grid-col-12" style="margin: .7em 0em;text-align: left;">
								<h3 style="margin:0em;">Preguntas :</h3>
							</div>
							<ui:repeat var="prgExamen" value="#{resultadoController.resultado.examen.preguntaExamens}"
								varStatus="ii">
								<div class="ui-grid-col-2">
									<p:commandButton value="#{ii.index + 1}"
													 styleClass="botones-preguntas btn#{ii.index}"
												     onclick="toggle('#{ii.index}')" type="button"
												     disabled="#{ii.index == 0}"/>
								</div>
							</ui:repeat>
						</div>
						<div class="ui-grid-col-12" style="text-align:left;">
							<div class="ui-grid-col-12" style="margin: .7em 0em;text-align: left;">
								<h3 style="margin:0em;">Detalle :</h3>
							</div>
							<div class="ui-grid-col-12">
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Examen" />
									</div>
									<div class="ui-grid-col-6">
										<h:outputText value="#{resultadoController.resultado.examen.nombre}" />
									</div>								
								</div>
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Estudiante" />
									</div>
									<div class="ui-grid-col-6">
										<h:outputText value="#{resultadoController.resultado.usuario.nombre} #{resultadoController.resultado.usuario.apellido}" />
									</div>								
								</div>
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Porcentaje para aprobar" />
									</div>
									<div class="ui-grid-col-6">
										<h:outputText value="#{resultadoController.resultado.examen.porcentajeAprobatorio * 100}" />
									</div>								
								</div>
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Porcentaje obtenido" />
									</div>
									<div class="ui-grid-col-6">
										<h:outputText value="#{resultadoController.resultado.porcentajeResuelto * 100}" />
									</div>								
								</div>
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Duración" />
									</div>
									<div class="ui-grid-col-6">
					           			<h:outputText value="#{resultadoController.resultado.duracion}" >
											<f:convertDateTime pattern="HH:mm:ss" />
										</h:outputText>
									</div>								
								</div>
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Respuestas correctas" />
									</div>
									<div class="ui-grid-col-6">
										<h:outputText value="#{resultadoController.respuestaCorrecta}/ #{fn:length(resultadoController.resultado.examen.preguntaExamens)}" />
									</div>								
								</div>
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Total respuestas correctas" />
									</div>
									<div class="ui-grid-col-6">
										<h:outputText value="#{resultadoController.respuestaCorrecta}" />
									</div>								
								</div>
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Puntos totales" />
									</div>
									<div class="ui-grid-col-6">
										<h:outputText value="#{resultadoController.resultado.examen.totalSatisfactorio()}" />
									</div>								
								</div>
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Puntos Obtenidos" />
									</div>
									<div class="ui-grid-col-6">
										<h:outputText value="#{resultadoController.acertado}" />
									</div>								
								</div>
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Resultado" />
									</div>
									<div class="ui-grid-col-6">
										<h:outputText value="#{resultadoController.resultado.estado eq 'A' ? 'Aprobado' : 'Desaprobado'}" />
									</div>								
								</div>
								<div class="ui-grid-row" style="margin: .7em 0em;">
									<div class="ui-grid-col-6">
										<p:outputLabel value="Fecha" />
									</div>
									<div class="ui-grid-col-6">
					           			<h:outputText value="#{resultadoController.resultado.fecha}" >
											<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
										</h:outputText>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui-grid-col-8">
						<div class="ui-grid-col-12"  style="margin-top:2em;">												
							<ui:repeat var="prgExamen" value="#{resultadoController.resultado.examen.preguntaExamens}"
								varStatus="ii">
								<p:panel id="basic" 
										 styleClass="preguntas-en-examen"
										 widgetVar="wdglpregunta#{ii.index}"
										 visible="#{ii.index == 0}"  closable="true" >
									<f:facet name="header">
										<div class="ui grid">
											<div class="ui-grid-col-8" style="text-align:left">
												<p:outputLabel value="#{ii.index + 1}.- #{prgExamen.pregunta.descripcion}" />
											</div>
											<div class="ui-grid-col-4" style="text-align:right;">
												<p:outputLabel value="#{prgExamen.pregunta.tipoPregunta.descripcion}" />
											</div>
										</div>
									</f:facet>
									<f:facet name="footer">																	
										<div class="ui grid" style="height:25px;">
											<div class="ui-grid-col-2" style="text-align:left">
												<p:outputLabel value="Puntos #{prgExamen.puntos}" />
											</div>
											<div class="ui-grid-col-6" style="text-align:center">
												<p:outputLabel value="Respuesta correcta: " />
												<ui:repeat var="opC" value="#{prgExamen.pregunta.opcionesCorrectas()}">
													<h:outputText value="#{opC.descripcion} "/>
												</ui:repeat>
											</div>
											<div class="ui-grid-col-4" style="text-align:right;">
												<p:commandButton value="Siguiente"
															     onclick="toggle('#{ii.index + 1}')" type="button"
															     rendered="#{(ii.index + 1) != fn:length(resultadoController.resultado.examen.preguntaExamens)}"/>
											</div>
										</div>
									</f:facet>
									<div class="ui grid">
										<div class="ui-grid-row">
											<h:panelGroup style="display:block" styleClass="ui-grid-col-10"
												  rendered="#{prgExamen.pregunta.tipoPregunta.id == 1 || prgExamen.pregunta.tipoPregunta.id == 2}">							
											    <p:selectOneRadio id="customRadio" 
											    				  value="#{resultadoController.resultadoOpciones[ii.index].pseudoOpcion.id}"
											    				  layout="grid" 
											    				  columns="3" disabled="true">
											    	<f:selectItems value="#{prgExamen.pregunta.opcions}" var="opcion" 
											    				   itemLabel="#{opcion.descripcion}" 
											    				   itemValue="#{opcion.id}" />
										        </p:selectOneRadio>
											</h:panelGroup>
											<h:panelGroup style="display:block" styleClass="ui-grid-col-10"
														  rendered="#{prgExamen.pregunta.tipoPregunta.id == 3}">
												<p:selectManyCheckbox value="#{resultadoController.resultadoOpciones[ii.index].multiOpcion}" 
																	  layout="grid" columns="3" disabled="true">
											        <f:selectItems value="#{prgExamen.pregunta.opcions}" var="opcion" itemLabel="#{opcion.descripcion}" itemValue="#{opcion.id}" />
											    </p:selectManyCheckbox>
											</h:panelGroup>
											<h:panelGroup style="display:block" styleClass="ui-grid-col-10"
														  rendered="#{prgExamen.pregunta.tipoPregunta.id == 4}">
												<p:inputTextarea rows="6" cols="33" value="#{resultadoController.resultadoOpciones[ii.index].pseudoOpcion.descripcion}"
																 readonly="true"/>
											</h:panelGroup>
											<div class="ui-grid-col-2">
												<p:outputLabel value="#{resultadoController.resultadoOpciones[ii.index].correcto ? 'Respuesta correcta' : 'Respuesta incorrecta'}" />
											</div>
										</div>
									</div>
							    </p:panel>
							</ui:repeat>
						</div>
					
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>
	<ui:define name="scripts">
		<script>
			function toggle(id) {
				$('.botones-preguntas')
					.attr('aria-disabled', false)
					.removeClass('ui-state-disabled')
					.prop('disabled', false);
				
				$('.preguntas-en-examen').hide();				

				$('.btn' + id)
					.attr('aria-disabled', false)
					.addClass('ui-state-disabled')
					.removeClass('ui-state-hover')
					.prop('disabled', true);
				
				PF('wdglpregunta' + id).show();
			}
			$('.ui-panel-titlebar-icon.ui-corner-all.ui-state-default').hide();
			$('.ui-panel-title').css({ 'margin': '0em'});
		</script>
	</ui:define>
</ui:composition>
</html>
